@import '_fonts';
@import '_grid';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
 	display: flex;
  flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
	opacity: 0;
	padding: 20px;
}

header {
	margin-bottom: 20px;
}

footer {
	background-color: #353535;
	color: #FFF;
	display: flex;
	padding: 20px 20px 15px;
}

a,
a:visited {
	color: #007CE1;
}

h1 {
	font-family: 'Gotham-Bold';
	font-size: 24px;
}

h3 {
	font-family: 'Gotham-Bold';
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 5px;
}

.logos {
	margin-left: auto;
	img {
		margin-left: 20px;
		margin-bottom: 0;
		vertical-align: top;
		width: auto;
	}
}

.filter-container {
	font-size: 15px;
	margin-bottom: 20px;
	text-align: right;
	label {
		padding-right: 10px;
		text-transform: uppercase;
	}
	.filter-select {
		background-color: #FFF;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
    height: 30px;
    width: 200px;
	}
}

.bar-container {
	cursor: pointer
}

.tick {
	line {
		stroke-width: 0;
	}
	text {
		font-family: 'Gotham-Bold';
		font-size: 12px;
		text-transform: uppercase;
		transform: translateY(-30px);
	}
}

.grid {
	.tick line {
		stroke: #EEEEEE;
		stroke-width: 1px;
	}
	.domain {
		stroke-width: 0;
	}
}

.org-label {
	fill: #FFF;
	font-family: 'Gotham-Bold';
  font-size: 12px;
	text-transform: uppercase;
}

.today-line {
	stroke: #F2645A;
}

.today-label {
	fill: #F2645A;
	font-family: 'Gotham-Bold';
	font-size: 10px;
	text-transform: uppercase;
}

.num {
	display: block;
	font-family: 'Gotham-Bold';
	font-size: 18px;
	margin: 8px 0;
}

.req-container {
	display: flex;
	justify-content: center;
	.req {
		border-left: 1px solid #000;
		max-width: 125px;
		padding: 0 10px;
		&:first-child {
			border: 0;
		}
	}
}

#timeline {
	position: relative;
}

.timeline-legend {
  bottom: 40px;
  line-height: 16px;
  padding: 5px 10px 0 0;
  position: absolute;
  right: 30px;
  span {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px;
  }
}

//tooltip
.d3-tip {
  padding: 10px 20px 15px;
  background-color:white;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  max-width: 400px;
  text-align: center;
  &:after {
		top: 99%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #FFF;
		border-width: 8px;
		margin-left: -8px;
	}
  &.s {
  	margin-top: 40px;
  	&:after {
  		border-bottom-color: #FFF;
  		border-top-color: transparent;
  		margin-top: -8px;
  		top: -7px;
  	}
  }
}

//datatable
.dataTables_wrapper {
	margin-top: 20px;
	.dataTables_length {
		margin-bottom: 10px;
	}
}

table.dataTable {
  margin: 10px 0 0;
	width: 100%;
	thead {
		th {
			font-family: 'Gotham-Bold';
			font-size: 12px;
			line-height: 14px;
			padding: 10px 18px 10px 10px;
			text-align: left;
			text-transform: uppercase;
			vertical-align: bottom;
		}
	}
	tbody {
		tr {
			&.even-row {
    		background-color: #FFF;
			}
			&.odd-row {
    		background-color: #EDF6FD;
    	}
    }
    td {
    	vertical-align: top;
    }
  }
  &.no-footer {
  	border-color: #CCC;
  }
  span.highlight {
	  background-color: #FFFF88;
	  border-radius: 0.28571429rem;
	}
	span.column_highlight {
	  background-color: #ffcc99;
	  border-radius: 0.28571429rem;
	}
	.dtr-details {
		list-style-type: none;
		margin: 0;
		padding: 0;
		.dtr-title {
			font-weight: 700;
			min-width: 0;
			&:after {
				content: ': ';
			}
		}
	}
}
table.dataTable>tbody>tr.child span.dtr-title {
	min-width: 0;
}


@media only screen and (max-width: 767px) {
	main {
		padding: 20px 0 10px;
	}
	h1 {
		font-size: 20px;
		text-align: center;
	}
	#timeline {
    overflow: scroll;
		width: 100%;
	}
	.filter-container {
		text-align: center;
	}
	.tick text {
		font-size: 10px;
	}
	.d3-tip {
		max-width: 250px;
	}
	.timeline-legend {
		left: 10px;
		right: auto;
	}
	.dataTables_wrapper {
		margin: 20px 10px 0;
	}
	table.dataTable {
		&.responsive {
			width: 100% !important;
			tbody {
				td {
					width: 33%;
				}
			}
		}
	}
	footer {
		display: block;
		text-align: center;
		.logos {
			margin-left: 0;
			img {
				margin: 10px;
			}
		}
	}
}
